# English Premier League Data Analysis

**Source:** https://fbref.com/en/comps/9/2024-2025/stats/2024-2025-Premier-League-Stats

This notebook will be using the data available in the aforementioned website on every player who played in the 2024-2025 season of the English Premier League to answer the following question(s)

## Aim/Questions:
1. Not sure what to put here yet

## Web Scraping & Data Export: Bullet-Point Process

1. Locate the player data table on the target website using the browserâ€™s Inspect panel.
2. Extract the table HTML and save it as a separate file for isolated processing.
3. Load the HTML file into Python using the pandas library.
4. Parse the HTML table directly into a structured DataFrame.
5. Export the DataFrame to a CSV file, ensuring clean formatting for subsequent analysis.

In [1]:
# This codeblock reads an HTML file containing a table of data and converts it into a cleaned CSV format.
import pandas as pd

tables = pd.read_html('data\\table_data.html')
df = tables[0]
df.to_csv('cleaned_data.csv', index=False)

## Cleaning up the Data

In [2]:
# Defining the Data
csv_file = pd.read_csv('cleaned_data.csv')
df = csv_file.copy()
print(df.head())  # Display the first few rows of the dataframe

   Rk             Player   Nation    Pos        Squad   Age    Born  MP  \
0   1         Max Aarons  eng ENG     DF  Bournemouth  24.0  2000.0   3
1   2  Joshua Acheampong  eng ENG     DF      Chelsea  18.0  2006.0   4
2   3        Tyler Adams   us USA     MF  Bournemouth  25.0  1999.0  28
3   4   Tosin Adarabioyo  eng ENG     DF      Chelsea  26.0  1997.0  22
4   5      Simon Adingra   ci CIV  FW,MF     Brighton  22.0  2002.0  29

   Starts   Min  ...  Ast.1  G+A.1  G-PK.1  G+A-PK  xG.1  xAG.1  xG+xAG  \
0       1    86  ...   0.00   0.00    0.00    0.00  0.00   0.00    0.00
1       2   170  ...   0.00   0.00    0.00    0.00  0.12   0.00    0.12
2      21  1965  ...   0.14   0.14    0.00    0.14  0.07   0.05    0.12
3      15  1409  ...   0.06   0.13    0.06    0.13  0.06   0.01    0.07
4      12  1097  ...   0.16   0.33    0.16    0.33  0.20   0.20    0.40

   npxG.1  npxG+xAG.1  Matches
0    0.00        0.00  Matches
1    0.12        0.12  Matches
2    0.07        0.12  Matches
3    0.06        0.07  Matches
4    0.20        0.40  Matches

[5 rows x 37 columns]

## Data Exploration

Printing out a summary of the dataframe clearly shows that some columns contain 'NULL' values.

In [3]:
print(df.info())  # Display a summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          574 non-null    int64
 1   Player      574 non-null    object
 2   Nation      570 non-null    object
 3   Pos         574 non-null    object
 4   Squad       574 non-null    object
 5   Age         570 non-null    float64
 6   Born        570 non-null    float64
 7   MP          574 non-null    int64
 8   Starts      574 non-null    int64
 9   Min         574 non-null    int64
 10  90s         574 non-null    float64
 11  Gls         574 non-null    int64
 12  Ast         574 non-null    int64
 13  G+A         574 non-null    int64
 14  G-PK        574 non-null    int64
 15  PK          574 non-null    int64
 16  PKatt       574 non-null    int64
 17  CrdY        574 non-null    int64
 18  CrdR        574 non-null    int64
 19  xG          574 non-null    float64
 20  npxG        574 non-null    float64
 21  xAG         574 non-null    float64
 22  npxG+xAG    574 non-null    float64
 23  PrgC        574 non-null    int64
 24  PrgP        574 non-null    int64
 25  PrgR        574 non-null    int64
 26  Gls.1       574 non-null    float64
 27  Ast.1       574 non-null    float64
 28  G+A.1       574 non-null    float64
 29  G-PK.1      574 non-null    float64
 30  G+A-PK      574 non-null    float64
 31  xG.1        574 non-null    float64
 32  xAG.1       574 non-null    float64
 33  xG+xAG      574 non-null    float64
 34  npxG.1      574 non-null    float64
 35  npxG+xAG.1  574 non-null    float64
 36  Matches     574 non-null    object
dtypes: float64(17), int64(15), object(5)
memory usage: 166.1+ KB
None

In [4]:
# Finding the Null Values
print(df[df['Age'].isna()])

      Rk         Player Nation    Pos            Squad  Age  Born  MP  Starts  \
17    18  Olabade Aluko    NaN     DF  Leicester  City  NaN   NaN   1       0
171  172     Jake Evans    NaN     FW  Leicester  City  NaN   NaN   4       0
327  328    Mateus Mane    NaN     MF           Wolves  NaN   NaN   1       0
359  360   Jeremy Monga    NaN  FW,MF  Leicester  City  NaN   NaN   7       0

     Min  ...  Ast.1  G+A.1  G-PK.1  G+A-PK  xG.1  xAG.1  xG+xAG  npxG.1  \
17     2  ...    0.0    0.0     0.0     0.0  0.00   0.00    0.00    0.00
171   24  ...    0.0    0.0     0.0     0.0  0.00   0.00    0.00    0.00
327    2  ...    0.0    0.0     0.0     0.0  0.00   0.00    0.00    0.00
359  112  ...    0.0    0.0     0.0     0.0  0.13   0.01    0.14    0.13

     npxG+xAG.1  Matches
17         0.00  Matches
171        0.00  Matches
327        0.00  Matches
359        0.14  Matches

[4 rows x 37 columns]

In [5]:
# Dropping the rows with Null values in the 'Age' column
df = df.dropna(subset=['Age'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 570 entries, 0 to 573
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          570 non-null    int64
 1   Player      570 non-null    object
 2   Nation      570 non-null    object
 3   Pos         570 non-null    object
 4   Squad       570 non-null    object
 5   Age         570 non-null    float64
 6   Born        570 non-null    float64
 7   MP          570 non-null    int64
 8   Starts      570 non-null    int64
 9   Min         570 non-null    int64
 10  90s         570 non-null    float64
 11  Gls         570 non-null    int64
 12  Ast         570 non-null    int64
 13  G+A         570 non-null    int64
 14  G-PK        570 non-null    int64
 15  PK          570 non-null    int64
 16  PKatt       570 non-null    int64
 17  CrdY        570 non-null    int64
 18  CrdR        570 non-null    int64
 19  xG          570 non-null    float64
 20  npxG        570 non-null    float64
 21  xAG         570 non-null    float64
 22  npxG+xAG    570 non-null    float64
 23  PrgC        570 non-null    int64
 24  PrgP        570 non-null    int64
 25  PrgR        570 non-null    int64
 26  Gls.1       570 non-null    float64
 27  Ast.1       570 non-null    float64
 28  G+A.1       570 non-null    float64
 29  G-PK.1      570 non-null    float64
 30  G+A-PK      570 non-null    float64
 31  xG.1        570 non-null    float64
 32  xAG.1       570 non-null    float64
 33  xG+xAG      570 non-null    float64
 34  npxG.1      570 non-null    float64
 35  npxG+xAG.1  570 non-null    float64
 36  Matches     570 non-null    object
dtypes: float64(17), int64(15), object(5)
memory usage: 169.2+ KB

## Trimming the Data for our needs
This dataset has too many columns, most of which are not relevant to our purposes. So, we will be making a new .csv file which only includes the columns that we require.